<div class="curso__remove">

  <div class="row">
    <div class="col">
      <h1>Apagar Curso</h1>
      <p class="lead">Deseja mesmo apagar o curso <span class="font-weight-bold">{{curso.name}}</span>?</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form action="/curso/remove/{{curso.id}}" method="POST">
        <input type="hidden" name="id" value="{{curso.id}}">
        <input class="btn btn-primary" type="submit" value="Sim">
        <a href="/curso" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>

</div>
