{
  "plugins": ["eslint-plugin-import-helpers"],
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
            "module",
            "/^~/",
            ["parent", "sibling", "index"]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["Chess/app/models/*.js"],
      "rules": {
        "no-param-reassign": "off"
      }
    },
    {
      "files": ["Chess/routes/*.js"],
      "rules": {
        "no-multi-spaces": "off"
      }
    }
  ]
}
