{
  "plugins": ["eslint-plugin-import-helpers"],
  "extends": "airbnb-base",
  "globals": {
    "logger": false,
    "__DEV__": false,
    "__PROD__": false
  },
  "rules": {
    "no-console": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
            "module",
            "/^~/",
            ["parent", "sibling", "index"]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["Chess/app.js"],
      "rules": {
        "no-unused-vars": "off"
      }
    },
    {
      "files": ["Chess/app/models/*.js"],
      "rules": {
        "no-param-reassign": "off"
      }
    },
    {
      "files": ["Chess/app/views/helpers/index.js"],
      "rules": {
        "no-underscore-dangle": "off",
        "no-restricted-syntax": "off"
      }
    },
    {
      "files": ["Chess/routes/*.js"],
      "rules": {
        "no-multi-spaces": "off"
      }
    },
    {
      "files": ["Chess/bin/www"],
      "rules": {
        "no-use-before-define": "off"
      }
    },
    {
      "files": ["Chess/config/bootstrap.js"],
      "rules": {
        "no-multi-assign": "off",
        "no-underscore-dangle": "off"
      }
    },
    {
      "files": ["Chess/public/js/**/*.js"],
      "rules": {
        "prefer-arrow-callback": "off",
        "no-alert": "off"
      },
      "env": {
        "browser": true,
        "jquery": true
      }
    }
  ]
}
