.fas::after {
  content: " ";
}

.wrap-text::before {
  content: attr(data-wrapb);
}
.wrap-text::after {
  content: attr(data-wrapa);
}


body {
  padding-top: 120px;
}

#footer {
  margin:5em 0;

  li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }

  p {
    clear: left;
    margin-bottom: 0;
  }
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;

  h3 {
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .logo {
    margin-top: -8px;
    margin-bottom: -2px;
  }
}


/* container About */
.main__about {
  img {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}

/* container Index */
.main__index {

  .small-board {
    width: 200px;
    margin: 10px;
    float: left;

    a:hover {
      text-decoration: none;
      text-shadow: 0 0 2px rgba($link-color, 0.6);
    }

    .black {
      color:black;
      text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    .white {
      color:white;
      text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }

}

/* container Game */
.main__game {

  .chess-board {
    width: 594px;
    float: left;
  }

  [class^="piece-"] {
    cursor: grab;
  }

}
