#footer p {
	clear: left;
  margin: 0;
}

/* container About */
.about__ {
  h1 {
    text-align: center;
  }

  img {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 15px;
    border: 1px solid #C8CCD1;
    background-color: #FFF;
  }

  p {
    font-size: x-large;
  }
}
