<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/chess.jpg" />
    <link rel='stylesheet' href='/css/main.css' />
    <script type="text/javascript">
      /**
       * Lazy load JavaScript file.
       * (c) https://w3bits.com/async-javascript
       * @params {string} url
       */
      function script(url) {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
      }
    </script>
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript">
      script("/lib/jquery.min.js");
      script("/lib/popper.min.js");
      script("/lib/bootstrap.min.js");
    </script>
  </body>
</html>
