<div class="main__choosecolor">

  <div class="row mt-4 ml-1">
      <div class="col">
          <h1>Iniciar uma nova partida</h1>
          <p class="lead">Por favor, escolha a cor de suas peças:</p>
          <a href="/partida/?color=w" title="Cor branca"><img src="/img/chesspieces/wikipedia/wQ.png" alt="Cor branca"></a>
          <a href="/partida/?color=b" title="Cor preta"><img src="/img/chesspieces/wikipedia/bQ.png" alt="Cor preta"></a>
      </div>
  </div>

</div>
