<div class="main__index">

  <div class="row">
    <div class="col-9 mt-4">
      <p class="lead">Seja bem vindo ao aplicativo de partidas de xadrez do Instituto de Computação. Para iniciar uma nova partida, <a href="/game/new-match">clique aqui</a>.</p>
    </div>
    <div class="col-3">
      <img src="/img/chess-clipart.png" alt="">
    </div>
  </div>

</div>
